body, label, input, option, select {
  font-size: .95em !important;
}

.custom-vbottom {
  margin-top: auto;
  margin-bottom: 3px;
}

.custom-vcentered {
  margin-top: auto;
  margin-bottom: 7px;
}

.custom-add-button {
  border-radius: 9999px !important;
  font-size: .8em;
}

.custom-icon-label {
  font-size: .95em;
  vertical-align: top;
}

.custom-header {
  border-width: 1px;
  border-color: #b6cad3;
  border-style: solid;
  border-radius: 0px;
  background-color: #e3ebef;
}

.custom-title {
  color:#5a8ba3 !important;
}

.custom-padding {
  padding: 30px;
}

.pb-60 {
  padding-bottom: 60px;
}

.custom-content {
  border-width: 1px;
  border-color: #b6cad3;
  border-style: solid;
}

.custom-footer {
  border-color: #b6cad3;
  border-style: solid;
  border-top-width: 0px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
}

.required-label {
  font-weight: bolder;
  color: orange;
}

input, select {
  background-color: #f9f9f9  !important;
}

input[type="radio"] {
  margin-right: 6px !important;
}

.custom-radio-label {
  font-size: .8em;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-less {
  margin-bottom: 0px !important;
}